html, body {
  font-family: 'Lato', sans-serif;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid  #016367;
  margin-bottom: 20px;
}

.logo-text {
  color: #016367;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: 700;
  font-size: 4rem;
}

.navbar {
  margin-bottom: 0;
}